body {
    background-color: darkturquoise;
}

body > h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

#opener {
    position: relative;
    height: 300px;
    width: 300px;
}